html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

input {
  font-family: 'Open Sans', sans-serif;
}

.App {
  width: 100%;
  height: 100%;
}

.wordset {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.words-form {
  min-height: 200px;
  text-align: center;
}

.words-form--word-input {
  font-size: 2em;
  outline: none;
}

.words-form--question {
  font-size: 1.5em;
  text-align: center;
  margin: 0.5em auto;
}

.words-form--answer {
  font-size: 1.5em;
  text-align: center;
  color: gray;
  margin: 1em auto;
  transition-duration: 1s;
  transition-property: opacity;
}

.words-form--answer__wrong {
  color: red;
}

.words-form--answer__correct {
  color: green;
}

.hidden {
  opacity: 0;
}

.statistic {
  width: 100px;
  margin: 0 20px;
  text-align: center;
}

.statistic--icon {
  font-size: 1.3em;
  color: #aaa;
  cursor: pointer;
}

.statistic--cycles {
  font-size: 1.5em;
  color: #999;
  opacity: 0;
  list-style: none;
  padding: 0;
  transition-duration: 1s;
}

.statistic--icon:hover + .statistic--cycles {
  opacity: 1;
}
